h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.hover-bg:hover {
    color: #404BBF;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.logo {
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.333;
    letter-spacing: 0.03em;
    color: #f4f4fd
}

.logo-accent {
    color: #4d5ae5
}

.navy-color {
    color: #2E2F42
}

.slate-color {
    color: #434455
}


.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container-no-wrap {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.flex-h {
    flex-direction: row;
}

.flex-v {
    flex-direction: column;
}

.flex-gr-2 {
    flex-grow: 2;
}

.section {
    padding: 120px 0;
}

.flex-gap-0 {
    gap: 0px;
}

.flex-gap-8 {
    gap: 8px;
}

.flex-gap-24 {
    gap: 24px;
}

.flex-gap-40 {
    gap: 40px;
}

.flex-gap-120 {
    gap: 120px;
}

.p-rel {
    position: relative;
}

.mt-16 {
    margin-top: 16px;
}

.mt-8 {
    margin-top: 8px;
}

.hidden {
    display: none;
}